html {
    background: blueviolet;
    color: white;
  }
  
  .main {
    display: flex;
    text-align: center;
    margin-left: 150px;
  }
  
  h1 {
    padding: 100px 400px;
    margin-top: 100px;
    font-size: 90px;
  }
  button {
    color: white;
    padding: 0 40px;
    font-size: 100px;
    margin-right: 70px;
    border-radius: 10px;
  }
  #square1 {
    background-color: lightblue;
  }
  #square2 {
    background-color: yellow;
  }
  #square3 {
    background-color: red;
  }
  #square4 {
    background-color: blue;
  }
  #square5 {
    background-color: lightgreen;
  }
  #square6 {
    background-color: blueviolet;
  }
  